<?xml version="1.0" encoding="UTF-8" ?>
<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
        xmlns:context="http://www.springframework.org/schema/context"
        xmlns:tx="http://www.springframework.org/schema/tx"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-4.0.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

	<!-- 配置配置文件扫描文件路径及文件属性 -->
	<bean id="propertyConfigurer"  class="madrid.apiFactory.core.util.spring.Configuration">
		<property name="locations">
			<value>classpath:config/*.properties</value>
		</property>
	</bean>

	<bean class="madrid.apiFactory.core.exception.SysExceptionHandler" />
    <bean class="madrid.apiFactory.core.util.spring.ApplicationFactory" />
    <bean name="xmlSqlSource" class="madrid.apiFactory.core.util.source.xml.XmlSqlSource" />
</beans>